<a href="https://colab.research.google.com/github/Awangnugrawan/Natural-Languange-Processing-from-UDEMY/blob/main/Hotel_reviews(NLP).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

df= pd.read_csv('/content/drive/MyDrive/Machine learning/tripadvisor_hotel_reviews.csv')

In [8]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [10]:
df.describe()

             Rating
count  20491.000000
mean       3.952223
std        1.233030
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [11]:
df.columns

Index(['Review', 'Rating'], dtype='object')

In [12]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [13]:
df.isna().sum()

Review    0
Rating    0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df.drop_duplicates(inplace= True)

In [16]:
df.duplicated().sum()

0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 480.3+ KB

In [18]:
blank=[]
for index in df['Review']:
  if index.isspace() == True:
    blank.append(index)

print(len(blank))

0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 480.3+ KB

In [20]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [21]:
df['Rating'].value_counts().sort_values()

1    1421
2    1793
3    2184
4    6039
5    9054
Name: Rating, dtype: int64

In [22]:
def rating(rating):
  if rating >=3 and rating <=5:
    return "Positive"
  else:
    return "Negative"

In [23]:
df['RATING_Positive/Negative'] = df['Rating'].apply(rating)

In [24]:
df.head()

,Review,Rating,RATING_Positive/Negative
0,nice hotel expensive parking got good deal sta...,4,Positive
1,ok nothing special charge diamond member hilto...,2,Negative
2,nice rooms not 4* experience hotel monaco seat...,3,Positive
3,"unique, great stay, wonderful time hotel monac...",5,Positive
4,"great stay great stay, went seahawk game aweso...",5,Positive

In [26]:
df['RATING_Positive/Negative'].value_counts()

Positive    17277
Negative     3214
Name: RATING_Positive/Negative, dtype: int64

#CLASSIFICATION TEXT

In [ ]:
X= df['Review']
y= df['Positive/Negative']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.3)

Pipeline classes are used to group different machine learning tools (such as transformers and modelers) into a unified process. This makes it possible to logically sequence the stages of the modeling process and manage the transformations performed on the data more easily.

In general, pipelines are very helpful in the modeling process and make it easier to manage the different stages of the modeling process, making the process more efficient and easy to maintain.

In [ ]:
from sklearn.pipeline import Pipeline

TfidfVectorizer is a class from the scikit-learn library that is used to convert text into feature vectors. TfidfVectorizer is used to convert a set of documents into a feature matrix that expresses the TF-IDF (term frequency-inverse document frequency) of each word in each document.

TfidfVectorizer takes a set of documents as input and outputs a feature matrix that expresses the TF-IDF of each word in each document. This feature matrix can be used as input for various machine learning algorithms such as text classification, clustering, and others.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from sklearn.svm import LinearSVC

In [ ]:
textclf =Pipeline([('tfidf', TfidfVectorizer()),('clf', LinearSVC())])

In [ ]:
textclf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [ ]:
predictions= textclf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.8276142903681182

In [ ]:
newdata= (['Aplication is good, i really enjoy using it',"i didn't like the app, the sound is bad"])

In [ ]:
series =pd.Series(newdata)

In [ ]:
series.head()

0    Aplication is good, i really enjoy using it
1        i didn't like the app, the sound is bad
dtype: object

In [27]:
import nltk

nltk.download('vader_lexicon') #Lexicon ini merupakan kumpulan kata-kata dan atribut emosional yang terkait dengan kata-kata tersebut, yang digunakan untuk menganalisis sentimen dalam teks.

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [28]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [29]:
sentanalyze = SentimentIntensityAnalyzer()

The polarity function is a method or function used in sentiment analysis to measure the degree of positivity, negativity, or neutrality of a sentence or text. In specific implementations, polarity can be used to determine the sentiment score of a text, with a negative score for a negative sentence or text, a positive score for a positive sentence or text, and a neutral score for a neutral sentence or text. In the given context, polarity_scores() is a method from the sentanalyze library (nltk.sentiment.vader) used to determine the sentiment score of a given text and store the result in the 'Score' column of the dataframe.

In [30]:
df['Score']= df['Review'].apply(lambda review : sentanalyze.polarity_scores(review))

* Examples of positive sentiments are: "This movie was very fun and entertaining" or "I am very happy with this new product, it is very useful." 
* Examples of negative sentiments are: "This movie was very boring" or "I was very disappointed with the poor customer service." 
* For example, if someone writes a product review that simply states facts about the product without expressing positive or negative feelings towards the product, then it is considered a neutral sentiment. Another example is if someone writes a tweet that only conveys ...bad news about something.

Neutral sentiment is when a person does not show any positive or negative feelings towards something.

In [31]:
df.head()

,Review,Rating,RATING_Positive/Negative,Score
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co..."
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com..."
2,nice rooms not 4* experience hotel monaco seat...,3,Positive,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp..."
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com..."
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co..."

In [32]:
df.iloc[53]['Score']

{'neg': 0.0, 'neu': 0.538, 'pos': 0.462, 'compound': 0.9578}

In [33]:
df['compound']= df['Score'].apply(lambda f: f['compound'])

explanation above: adding a new column named 'compound' to the DataFrame (df) which is the result of applying the lambda function to the 'Score' column. The lambda function used here is to retrieve the 'compound' value from each record in the 'Score' column.

The 'compound' column will contain a value that shows the sentiment of each review. This value is obtained from the results of sentiment analysis previously carried out using the VADER library. This compound value is the value obtained from the sentiment score given by VADER (compound score). This value ranges from -1 to 1, where -1 indicates negative sentiment, 1 indicates positive sentiment, and 0 indicates neutral sentiment.

In [34]:
df.head()

,Review,Rating,RATING_Positive/Negative,Score,compound
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787
2,nice rooms not 4* experience hotel monaco seat...,3,Positive,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797

In [35]:
df['compound_positive/negative']= df['compound'].apply(lambda score: 'Positive' if score>=0 else 'Negative')

In [36]:
df.head()

,Review,Rating,RATING_Positive/Negative,Score,compound,compound_positive/negative
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747,Positive
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787,Positive
2,nice rooms not 4* experience hotel monaco seat...,3,Positive,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889,Positive
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912,Positive
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797,Positive

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(df['RATING_Positive/Negative'],df['compound_positive/negative'])

0.8947342735835244

#CLASSIFICATION TEXT

In [38]:
X= df['Review']
y= df['RATING_Positive/Negative']

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.3)

Pipeline classes are used to group different machine learning tools (such as transformers and modelers) into a unified process. This makes it possible to logically sequence the stages of the modeling process and manage the transformations performed on the data more easily.

In general, pipelines are very helpful in the modeling process and make it easier to manage the different stages of the modeling process, making the process more efficient and easy to maintain.

In [40]:
from sklearn.pipeline import Pipeline

TfidfVectorizer is a class from the scikit-learn library that is used to convert text into feature vectors. TfidfVectorizer is used to convert a set of documents into a feature matrix that expresses the TF-IDF (term frequency-inverse document frequency) of each word in each document.

TfidfVectorizer takes a set of documents as input and outputs a feature matrix that expresses the TF-IDF of each word in each document. This feature matrix can be used as input for various machine learning algorithms such as text classification, clustering, and others.

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
from sklearn.svm import LinearSVC

In [43]:
textclf =Pipeline([('tfidf', TfidfVectorizer()),('clf', LinearSVC())])

In [44]:
textclf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [45]:
predictions= textclf.predict(X_test)

In [46]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.9321730644111906

In [51]:
newdata= (['the hotel was perfect, we like it',"The hotel is bad and dirty"])

In [52]:
series =pd.Series(newdata)

In [53]:
series.head()

0    the hotel was perfect, we like it
1           The hotel is bad and dirty
dtype: object

In [54]:
textclf.predict(series)

array(['Positive', 'Negative'], dtype=object)