<a href="https://colab.research.google.com/github/Awangnugrawan/Natural-Languange-Processing-from-UDEMY/blob/main/NLP_(sentiment_analysis_and_classification_text).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sentiment Analysis

In [90]:
import pandas as pd

In [91]:
df=pd.read_csv('/content/drive/MyDrive/Machine learning/reviews.csv')

In [92]:
df.head()

,Time_submitted,Review,Rating,Total_thumbsup,Reply
0,2022-07-09 15:00:00,"Great music service, the audio is high quality...",5,2,NaN
1,2022-07-09 14:21:22,Please ignore previous negative rating. This a...,5,1,NaN
2,2022-07-09 13:27:32,"This pop-up ""Get the best Spotify experience o...",4,0,NaN
3,2022-07-09 13:26:45,Really buggy and terrible to use as of recently,1,1,NaN
4,2022-07-09 13:20:49,Dear Spotify why do I get songs that I didn't ...,1,1,NaN

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61594 entries, 0 to 61593
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Time_submitted  61594 non-null  object
 1   Review          61594 non-null  object
 2   Rating          61594 non-null  int64
 3   Total_thumbsup  61594 non-null  int64
 4   Reply           216 non-null    object
dtypes: int64(2), object(3)
memory usage: 2.3+ MB

In [94]:
df.describe()

             Rating  Total_thumbsup
count  61594.000000    61594.000000
mean       3.155989        7.649381
std        1.673285       89.323143
min        1.000000        0.000000
25%        1.000000        0.000000
50%        3.000000        0.000000
75%        5.000000        1.000000
max        5.000000     8195.000000

In [95]:
df.columns

Index(['Time_submitted', 'Review', 'Rating', 'Total_thumbsup', 'Reply'], dtype='object')

In [96]:
df= df.drop(df.columns[[0,3,4]],axis=1 )

In [97]:
df.head()

                                              Review  Rating
0  Great music service, the audio is high quality...       5
1  Please ignore previous negative rating. This a...       5
2  This pop-up "Get the best Spotify experience o...       4
3    Really buggy and terrible to use as of recently       1
4  Dear Spotify why do I get songs that I didn't ...       1

In [98]:
df.isna().sum()

Review    0
Rating    0
dtype: int64

In [99]:
df.duplicated().sum()

201

In [100]:
df.drop_duplicates(inplace= True)

In [101]:
df.duplicated().sum()

0

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61393 entries, 0 to 61593
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  61393 non-null  object
 1   Rating  61393 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.4+ MB

In [103]:
blank=[]
for index in df['Review']:
  if index.isspace() == True:
    blank.append(index)

print(len(blank))

0

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61393 entries, 0 to 61593
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  61393 non-null  object
 1   Rating  61393 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.4+ MB

In [105]:
df.head()

                                              Review  Rating
0  Great music service, the audio is high quality...       5
1  Please ignore previous negative rating. This a...       5
2  This pop-up "Get the best Spotify experience o...       4
3    Really buggy and terrible to use as of recently       1
4  Dear Spotify why do I get songs that I didn't ...       1

In [106]:
df['Rating'].value_counts().sort_values()

3     6881
2     7114
4     7831
1    17617
5    21950
Name: Rating, dtype: int64

In [107]:
def rating(rating):
  if rating >=3 and rating <=5:
    return "Positive"
  else:
    return "Negative"

In [108]:
df['Positive/Negative'] = df['Rating'].apply(rating)

In [109]:
df.head()

                                              Review  Rating Positive/Negative
0  Great music service, the audio is high quality...       5          Positive
1  Please ignore previous negative rating. This a...       5          Positive
2  This pop-up "Get the best Spotify experience o...       4          Positive
3    Really buggy and terrible to use as of recently       1          Negative
4  Dear Spotify why do I get songs that I didn't ...       1          Negative

In [110]:
df['Positive/Negative'].value_counts()

Positive    36662
Negative    24731
Name: Positive/Negative, dtype: int64

In [111]:
import nltk

nltk.download('vader_lexicon') #Lexicon ini merupakan kumpulan kata-kata dan atribut emosional yang terkait dengan kata-kata tersebut, yang digunakan untuk menganalisis sentimen dalam teks.

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [112]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [113]:
sentanalyze = SentimentIntensityAnalyzer()

The polarity function is a method or function used in sentiment analysis to measure the degree of positivity, negativity, or neutrality of a sentence or text. In specific implementations, polarity can be used to determine the sentiment score of a text, with a negative score for a negative sentence or text, a positive score for a positive sentence or text, and a neutral score for a neutral sentence or text. In the given context, polarity_scores() is a method from the sentanalyze library (nltk.sentiment.vader) used to determine the sentiment score of a given text and store the result in the 'Score' column of the dataframe.

In [114]:
df['Score']= df['Review'].apply(lambda review : sentanalyze.polarity_scores(review))

* Examples of positive sentiments are: "This movie was very fun and entertaining" or "I am very happy with this new product, it is very useful." 
* Examples of negative sentiments are: "This movie was very boring" or "I was very disappointed with the poor customer service." 
* For example, if someone writes a product review that simply states facts about the product without expressing positive or negative feelings towards the product, then it is considered a neutral sentiment. Another example is if someone writes a tweet that only conveys ...bad news about something.

Neutral sentiment is when a person does not show any positive or negative feelings towards something.

In [115]:
df.head()

,Review,Rating,Positive/Negative,Score
0,"Great music service, the audio is high quality...",5,Positive,"{'neg': 0.0, 'neu': 0.564, 'pos': 0.436, 'comp..."
1,Please ignore previous negative rating. This a...,5,Positive,"{'neg': 0.243, 'neu': 0.353, 'pos': 0.404, 'co..."
2,"This pop-up ""Get the best Spotify experience o...",4,Positive,"{'neg': 0.107, 'neu': 0.635, 'pos': 0.258, 'co..."
3,Really buggy and terrible to use as of recently,1,Negative,"{'neg': 0.296, 'neu': 0.704, 'pos': 0.0, 'comp..."
4,Dear Spotify why do I get songs that I didn't ...,1,Negative,"{'neg': 0.0, 'neu': 0.74, 'pos': 0.26, 'compou..."

In [116]:
df.iloc[53]['Score']

{'neg': 0.0, 'neu': 0.631, 'pos': 0.369, 'compound': 0.9512}

In [117]:
df['compound']= df['Score'].apply(lambda f: f['compound'])

explanation above: adding a new column named 'compound' to the DataFrame (df) which is the result of applying the lambda function to the 'Score' column. The lambda function used here is to retrieve the 'compound' value from each record in the 'Score' column.

The 'compound' column will contain a value that shows the sentiment of each review. This value is obtained from the results of sentiment analysis previously carried out using the VADER library. This compound value is the value obtained from the sentiment score given by VADER (compound score). This value ranges from -1 to 1, where -1 indicates negative sentiment, 1 indicates positive sentiment, and 0 indicates neutral sentiment.

In [118]:
df.head()

,Review,Rating,Positive/Negative,Score,compound
0,"Great music service, the audio is high quality...",5,Positive,"{'neg': 0.0, 'neu': 0.564, 'pos': 0.436, 'comp...",0.9211
1,Please ignore previous negative rating. This a...,5,Positive,"{'neg': 0.243, 'neu': 0.353, 'pos': 0.404, 'co...",0.6249
2,"This pop-up ""Get the best Spotify experience o...",4,Positive,"{'neg': 0.107, 'neu': 0.635, 'pos': 0.258, 'co...",0.5859
3,Really buggy and terrible to use as of recently,1,Negative,"{'neg': 0.296, 'neu': 0.704, 'pos': 0.0, 'comp...",-0.5209
4,Dear Spotify why do I get songs that I didn't ...,1,Negative,"{'neg': 0.0, 'neu': 0.74, 'pos': 0.26, 'compou...",0.7149

In [119]:
df['compound_positive/negative']= df['compound'].apply(lambda score: 'Positive' if score>=0 else 'Negative')

In [120]:
df.head()

,Review,Rating,Positive/Negative,Score,compound,compound_positive/negative
0,"Great music service, the audio is high quality...",5,Positive,"{'neg': 0.0, 'neu': 0.564, 'pos': 0.436, 'comp...",0.9211,Positive
1,Please ignore previous negative rating. This a...,5,Positive,"{'neg': 0.243, 'neu': 0.353, 'pos': 0.404, 'co...",0.6249,Positive
2,"This pop-up ""Get the best Spotify experience o...",4,Positive,"{'neg': 0.107, 'neu': 0.635, 'pos': 0.258, 'co...",0.5859,Positive
3,Really buggy and terrible to use as of recently,1,Negative,"{'neg': 0.296, 'neu': 0.704, 'pos': 0.0, 'comp...",-0.5209,Negative
4,Dear Spotify why do I get songs that I didn't ...,1,Negative,"{'neg': 0.0, 'neu': 0.74, 'pos': 0.26, 'compou...",0.7149,Positive

In [121]:
from sklearn.metrics import accuracy_score
accuracy_score(df['Positive/Negative'],df['compound_positive/negative'])

0.7245940090889841

In [122]:
ex1='Aplication is good, i really enjoy using it'
sentanalyze.polarity_scores(ex1)

{'neg': 0.0, 'neu': 0.439, 'pos': 0.561, 'compound': 0.7501}

In [123]:
ex2="i didn't like the app, the sound is bad"
sentanalyze.polarity_scores(ex2)

{'neg': 0.483, 'neu': 0.517, 'pos': 0.0, 'compound': -0.6818}

#CLASSIFICATION TEXT

In [124]:
X= df['Review']
y= df['Positive/Negative']

In [125]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.3)

Pipeline classes are used to group different machine learning tools (such as transformers and modelers) into a unified process. This makes it possible to logically sequence the stages of the modeling process and manage the transformations performed on the data more easily.

In general, pipelines are very helpful in the modeling process and make it easier to manage the different stages of the modeling process, making the process more efficient and easy to maintain.

In [126]:
from sklearn.pipeline import Pipeline

TfidfVectorizer is a class from the scikit-learn library that is used to convert text into feature vectors. TfidfVectorizer is used to convert a set of documents into a feature matrix that expresses the TF-IDF (term frequency-inverse document frequency) of each word in each document.

TfidfVectorizer takes a set of documents as input and outputs a feature matrix that expresses the TF-IDF of each word in each document. This feature matrix can be used as input for various machine learning algorithms such as text classification, clustering, and others.

In [127]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [128]:
from sklearn.svm import LinearSVC

In [129]:
textclf =Pipeline([('tfidf', TfidfVectorizer()),('clf', LinearSVC())])

In [130]:
textclf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [131]:
predictions= textclf.predict(X_test)

In [132]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.8276142903681182

In [133]:
newdata= (['Aplication is good, i really enjoy using it',"i didn't like the app, the sound is bad"])

In [134]:
series =pd.Series(newdata)

In [135]:
series.head()

0    Aplication is good, i really enjoy using it
1        i didn't like the app, the sound is bad
dtype: object

In [136]:
textclf.predict(series)

array(['Positive', 'Negative'], dtype=object)